section {
    max-width: 980px;
    margin: 0 auto;
    padding: 1rem;
}

mat-form-field {
    width: 100%;
}

.pokemon__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
}
