.movies {
    &__search-container {
        padding: 2.5rem 1rem 1.75rem;
        background: linear-gradient(to bottom, var(--mat-sys-inverse-primary), #ccc);
    }

    &__search-form {
        &-container {
            max-width: 600px;
            margin: 0 auto;
        }

        &-field {
            width: 100%;
        }
    }

    &__grid {
        max-width: 1200px;
        margin-inline: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }
}
