.tab-search-content {
    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__progress {
        width: 50px;
        height: 50px;
    }

    &__grid {
        max-width: 1000px;
        margin-inline: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }

    &__card {
        width: 100%;
    }
}
