// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: "Poppins, sans-serif",
            density: 0,
        )
    );
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        )
    );
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
    @include mat.list-overrides(
        (
            list-item-label-text-color: var(--mat-sys-on-primary),
        )
    );
}



// ::view-transition-old(root) {
//     animation: slide-out 0.5s ease-out forwards;
// }

// ::view-transition-new(root) {
//     animation: slide-in 0.5s ease-out forwards;
// }

// @keyframes slide-out {
//     from {
//         transform: translateX(0);
//     }
//     to {
//         transform: translateX(-100%);
//     }
// }

// @keyframes slide-in {
//     from {
//         transform: translateX(100%);
//     }
//     to {
//         transform: translateX(0);
//     }
// }
// ::view-transition-new(root) {
//     /* La magia está en 'clip-path' */
//     animation: reveal 0.6s ease-in-out forwards;
// }

// @keyframes reveal {
//     from {
//         clip-path: circle(0% at 50% 50%); /* Empieza como un círculo de tamaño 0 en el centro */
//     }
//     to {
//         clip-path: circle(150% at 50% 50%); /* Termina como un círculo que cubre toda la pantalla */
//     }
// }
