.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.movies__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
